* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 0;
}

body {
    display: flex;
    justify-content: center;
}

.chip8Machine {

    width: 100%;
    max-width: 640px;
}

.keyBoard {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.keyBoard>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font: 14px "Arial";
    color: #757575;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.15), inset 3px 3px 5px rgba(0, 0, 0, 0.05);
    transition: .5s;
}

.keyBoard>div:hover {
    background: #eee;
}